{
  "extends": "eslint:recommended",
  "env": {
    "jquery": true,
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "GeneratorFactory": true,
    "CarsService": true,
    "Util": true,
    "app" : true
  },
  "rules":{
      "no-console":0
  }
}
